*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: antiquewhite;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
h1{
    text-align: center;
    padding-top: 10px;
}
p{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    font-family:'Times New Roman', Times, serif
}
.block{
    padding-left: 50px;
    line-height: 20px;
    padding-top: 20px;
}
ul{
    padding-left: 20px;
}
.image{
    height: 50%;
    width: 35%;
    float: right;
    display: flex;
    justify-content: flex-start;
}
@media screen and (max-width:780px){
    .image{
        padding-top: 20px;
    }
}
